*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


html, body{
    margin: 0;
    padding: 0;
    background-color: #343a40;
    min-height: 100%;
}

header{
    height: 60px;
    max-width: 100vw;
    box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.78);
    -webkit-box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.78);
    -moz-box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.78);
    z-index: 10;
    margin-bottom: 17px;
    background-color: #1F2226;
}

footer{
    height: 60px;
    max-width: 100vw;
    z-index: 10;
    margin-top: 17px;
    background-color: #1F2226;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    padding: 0 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.credits{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity .5s;
}

.credits p{
    font-size: .9rem;
}

.credits:hover{
    opacity: 0.5;
}

.creditsDiv{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 150;
}

.creditsWindow{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    background-color: #343a40;
    border: 2px solid #1F2226;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.dev-link{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
    color: #D6D7D8;
}

.dev-link:hover{
    opacity: .3;
}

.credits-border{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #343a40;
    background-color: #1F2226;
    color: #D6D7D8;
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-credits{
    top: -20px;
    right: -20px;
}

.repository{
    top: -20px;
    left: -20px;
}

.svg{
    margin-right: 7px;
}

#desktop-nav{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 25px;
}

#mobile-nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    z-index: 100;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.53);
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.53);
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #1F2226;
    padding: 10px;
    animation: moveIn .75s forwards;
}

a{
    text-decoration: none;
}

.logo{
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
    transition: opacity .5s;
}

#title{
    color: #D6D7D8;
}

.nav-item{
    color: #fff;
    margin: 0 15px;
    cursor: pointer;
    transition: opacity .5s;
}

.nav-item:hover{
    opacity: .6;
}

#hamburger{
    margin-left: auto;
    display: none;
    cursor: pointer;
}

#close-menu{
    align-self: flex-end;
    cursor: pointer;
}

main{
    background-color: #343a40;
    height: calc(100vh - 154px);
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
}

.graph{
    width: 1000px;
    height: 344px;
    display: flex;
    align-items: flex-end
}

.bar-container{
    height: 344px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}

.bar-value{
    margin: 5px 0;
    color: #D6D7D8;
    font-weight: bolder;
    font-size: 1.2rem;
}
.bar{
    background-color: #D6D7D8;
    width: 100%;
}

.button-container{
    margin: 20px 0;
}

.button{
    padding: 10px;
    border: 1px solid #D6D7D8;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    margin: 0 5px;
    color: #fff;
}

.button:hover{
    opacity: 0.6;
}

.button:disabled{
    opacity: 0.2;
    cursor: default;
}

.fadeRight{
    animation: fadeRight 1s forwards;
}

.home{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 154px);
    max-width: 100vw;
    margin-bottom: 15px;
}

.sortOption{
    border-radius: 25px;
    margin: 25px;
    padding: 70px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    transition: all .5s;
    animation: fadeRight .5s forwards;
}

.sortOption h1{
    transition: all .5s;
    margin: 0;
}


.sortOption:hover h1{
    transform: scale(1.1)
}

.sortOption[href='bubble.html']{
    border: 2px solid #8F3A84;
}

.sortOption[href='bubble.html']:hover{
    border: 2px solid rgba(143,58,132, 0.4);
    color: #8F3A84;
}

.sortOption[href='selection.html']{
    border: 2px solid yellow;
}

.sortOption[href='selection.html']:hover{
    border: 2px solid rgba(255, 255, 0, 0.2);
    color: yellow;
}

.sortOption[href='insertion.html']{
    border: 2px solid #3366CC;
}

.sortOption[href='insertion.html']:hover{
    border: 2px solid rgba(51, 102, 204, 0.4);
    color: #3366CC;
}

.sortOption[href='shell.html']{
    border: 2px solid #009900;
}

.sortOption[href='shell.html']:hover{
    border: 2px solid rgba(0, 102, 0, 0.4);
    color: #009900;
}

.sortOption[href='merge.html']{
    border: 2px solid #FF3333;
}

.sortOption[href='merge.html']:hover{
    border: 2px solid rgba(255, 51, 51,0.4);
    color: #FF3333;
}


@keyframes fadeRight {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }to{
        transform: initial;
        opacity: 1;
    }
    
}

@media(max-width: 1220px){
    .graph{
        width: 800px;
    }
}

@media(min-width: 850px){
    #mobile-nav{
        display: none;
    }
}

@media(min-width: 550px){
    #mobile-nav{
        width: 50vw;
    }    
}

@media(max-width: 850px){
    .desktop-item{
        display: none;
    }
    #hamburger{
        display: block;
    }
    .nav-item{
        margin: 20px 0;
    }
    .logo{
        font-size: 1.2rem;
    }
    .graph{
        width: 600px;
    }
    .home{
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
    }
}

@media(max-width: 600px){
    .graph{
        width: 400px;
    }
    .home{
        grid-template-columns: 300px;
        grid-template-rows: 300px 300px 300px 300px;
    }
}

@media(max-width: 400px){
    .graph{
        width: 300px;
    }
    .bar-value{
        font-size: 1rem;
    }
    #title{
        font-size: 1.5rem;
    }
    .creditsWindow{
        width: 250px;
    }
}

@media(max-width: 300px){
    .graph{
        width: 250px;
    }
    .bar-value{
        font-size: .7rem;
    }
}

@keyframes moveIn {
    from{
        transform: translateX(100%)
    }to{
        transform: initial;
    }
}